{% extends "layout.html" %}
{% block content %}
    <h1>من نحن؟</h1>
    <p>شيّك، أول منصة عربية إخبارية تجمع بين وكالات الأنباء والقنوات الإخبارية والصحف في مكان واحد.
        <br>هنا، يمكنك العثور على جميع الأخبار الموثوقة مباشرةً من المنصات الإخبارية.
       <br><br>
        نتميز باستخدام أحدث تقنيات الذكاء الاصطناعي للتحقق من صحة الفيديوهات، لضمان نشر أخبار موثوقة وغير متلاعب بها.
       <br><br>
       نحن هنا لنقدم لكم تجربة إخبارية فريدة، تعتمد على الدقة والموثوقية، لتبقوا على اطلاع دائم بكل ما يحدث في العالم العربي والعالمي.</p>
{% endblock content %}