<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>

    {% if title %}
    <title>شيّـــك - {{ title }}</title>
    {% else %}
    <title>شيّـــك</title>
    {% endif %}
    
    <link rel="icon" type="image/png" href="/static/Images/Shayek_logo.png">
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    {% if session['logged_in'] == True %}
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}" >تسجيل الخروج</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('member_register') }}">مستخدم جديد</a>
                        <a class="nav-item nav-link" href="{{ url_for('member_login') }}">تسجيل الدخول</a>
                    {% endif %}
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="ml-auto d-flex align-items-center">
                    <a class="nav-item nav-link" href="{{ url_for('shayekModel') }}">نشيّك؟</a>
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">من نحن؟</a>
                    {% if session['logged_in'] == True %}
                        <a class="nav-item nav-link" href="{{ url_for('profile') }}">حسابي</a>
                        <a class="nav-item nav-link" href="{{ url_for('home') }}" onclick="goToHome()">الرئيسية</a>
                        <!-- Notifications-->
                        <div class="nav-item dropdown" id="notificationsDropdown">
                            <a class="nav-link dropdown-toggle position-relative" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                {% if unread_count > 0 %}
                                    <span class="badge badge-danger notification-count position-absolute" style="top: 12px; right: 15px;">{{ unread_count }}</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right custom-notification-menu" aria-labelledby="notificationsDropdown">
                                {% if notifications %}
                                <ul class="list-group">
                                    {% for notification in notifications %}
                                    <li class="list-group-item notification-item {% if not notification.is_read %} unread-notification {% endif %}" data-href="{{ url_for('post', post_id=notification.post_id) }}" style="cursor: pointer;">
                                        <!-- Notification content -->
                                        <div class="notification-content">
                                            <p>نشرة جديدة من {{ notification.newsoutlet }}</p>
                                            <p>بعنوان: {{ notification.post_title }}</p>
                                            <p>{{ notification.timestamp }}</p>
                                        </div>   
                                        <!-- Delete button-->
                                        <div class="float-right">
                                            <button class="btn btn-sm btn-danger delete-notification-btn" onclick="deleteNotification('{{ notification.notification_key }}', event)">حذف</button>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>                        
                                {% else %}
                                    <p class="dropdown-item">لايوجد إشعارات</p>
                                {% endif %}
                            </div>
                        </div>                
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('homepage') }}">الرئيسية</a>
                    {% endif %}
                    <a class="navbar-brand mr-4" href="/"><img class="logo" src="/static/Images/Shayek_logo.png" alt="شيّـــك" style="width: 180px;"></a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}      
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-white">
        <hr>
        <div class="container text-center" style="direction: rtl;">
            <span>تواصلوا معنا عبر البريد الإلكتروني: shayekgp1@gmail.com</span>
        </div>
    </footer>

    <script>  
        var firebaseConfig = {
            apiKey: "AIzaSyAXgzwyWNcfI-QSO_IbBVx9luHc9zOUzeY",
            authDomain: "shayek-560ec.firebaseapp.com",
            databaseURL: "https://shayek-560ec-default-rtdb.firebaseio.com",
            projectId: "shayek-560ec",
            storageBucket: "shayek-560ec.appspot.com",
            messagingSenderId: "377837381829",
            appId: "1:377837381829:web:d6594a9e9f6af83c1468ac",
            measurementId: "G-PKCVFN45WE"
        };
        
        firebase.initializeApp(firebaseConfig);
        var firestore = firebase.firestore();
    
        
        function deleteNotification(notification_key, event) {
            if (!notification_key) {
                console.error("لم يتم العثور على الإشعار");
                return;
            }

            event.stopPropagation();

            $.post('/notification/delete/' + notification_key, function(response) {
                if (response.success) {
                    fetchNotifications();  
                } else {
                    fetchNotifications(); 
                    alert(response.message);
                }
            });
        }

        $(document).ready(function() {
    
            var notificationsMarkedAsRead = false;

            function fetchNotifications() {
                $.ajax({
                    url: "{{ url_for('fetch_notifications_route') }}",
                    type: 'GET',
                    success: function(response) {
                        if (response.success) {
                            var notifications = response.notifications;
                            var unreadCount = response.unread_count;

                            var notificationsList = '';
                            if (notifications.length > 0) {
                                notifications.forEach(function(notification) {
                                    notificationsList += `
                                        <li class="list-group-item notification-item ${notification.is_read ? '' : 'unread-notification'}" 
                                            data-href="{{ url_for('post', post_id='') }}${notification.post_id}" 
                                            style="cursor: pointer;">
                                            <div class="notification-content">
                                                <p>نشرة جديدة من ${notification.newsoutlet}</p>
                                                <p>بعنوان: ${notification.post_title}</p>
                                                <p>${notification.timestamp}</p>
                                            </div>
                                            <div class="float-right">
                                                <button class="btn btn-sm btn-danger delete-notification-btn" 
                                                        onclick="deleteNotification('${notification.notification_key}', event)">حذف</button>
                                            </div>
                                        </li>`;
                                });
                            } else {
                                notificationsList = '<p class="dropdown-item">لايوجد إشعارات</p>';
                            }

                            $('#notificationsDropdown .dropdown-menu').html(notificationsList);

                            if (unreadCount > 0) {
                                $('.notification-count').text(unreadCount).show();
                            } else {
                                $('.notification-count').text(0).hide();
                            }

                            attachNotificationClickEvents();
                        } else {
                            console.error('حدث خطأ عند محاولة عرض الإشعارات', response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('حدث خطأ عند محاولة عرض الإشعارات', error);
                    }
                });
            }
            
            function attachNotificationClickEvents() {
                document.querySelectorAll('.notification-item').forEach(item => {
                    item.addEventListener('click', function() {
                        var href = this.getAttribute('data-href');
                        if (href) {
                            window.location.href = href;
                        }
                    });
                });
            }

            setInterval(fetchNotifications, 30000);
            fetchNotifications();
            
            $('#notificationsDropdown').on('shown.bs.dropdown', function () {
                if (!notificationsMarkedAsRead) {
                    $.ajax({
                        url: "{{ url_for('mark_all_notifications_as_read') }}", 
                        type: 'POST',
                        success: function(response) {
                            if (response.success) {
                                notificationsMarkedAsRead = true;
                                $('.notification-count').text(0).hide();
    
                                
                                $('.unread-notification').removeClass('unread-notification');
                            } else {
                                console.log('حدث خطأ عند محاولة وضع الإشعارات كمقروءة', response.message);
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('حدث خطأ عند محاولة وضع الإشعارات كمقروءة', error);
                        }
                    });
                }
            });
        });
 
        function goToHome() {
            sessionStorage.clear();
        }

    </script>    
</body>
</html>