{% extends "layout.html" %}

{% block content %}
<script>
    function goBack() {
        const referrer = document.referrer; 
        const myProfileUrl = "{{ url_for('profile') }}"; 
            window.location.href = myProfileUrl;
        }
    
</script>

<div class="card mb-4">
    <div class="card-header">
        <button onclick="goBack()" class="btn form-buttons">&#8592; عودة </button>
        <h4>كل المنشورات المعجب بها</h4>
    </div>
    <div class="card-body">
        {% for post in liked_posts|sort(attribute='parsed_timestamp', reverse=True) %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata text-right">
                        {% if post.author %}
                            <h5><a href="{{ url_for('user_profile', username=post.author) }}">{{ post.author }}</a></h5>
                        {% endif %}
                        <small class="text-muted">{{ post.timestamp }}</small>
                    </div>
                    <br>
                    <a href="{{ url_for('post', post_id=post.post_id) }}" style="text-decoration: none; color: inherit;" onclick="storeScrollPosition()">
                        <h3 class="article-title">{{ post.title }}</h3>
                        
                    </a>
                    <div class="post-comments">
                        <button class="comment-button" onclick="window.location.href='{{ url_for('post', post_id=post.post_id) }}'">
                            <i class="far fa-comment"></i>
                            <span>{{ post.count }}</span> </button>
                        <div style="margin-left: 5px;"></div>
                            <button class="like-button" data-post-id="{{ post.post_id }}" onclick="toggleLike(this)">
                                <i class="far fa-heart 
                                    {% if current_user.get_id() in post.liked_by %} 
                                        fas liked-heart 
                                    {% endif %}"></i> 
                                <span>{{ post.likes }}</span>
                            </button>
                        </div>    
                </div>
            </article>
            <script>
                function toggleLike(button) {
                    const postId = button.getAttribute('data-post-id');
                    const isLiked = button.querySelector('i').classList.contains('liked-heart');
                    const url = isLiked ? `/unlike_post/${postId}` : `/like_post/${postId}`;
                
                    fetch(url, {
                        method: 'POST'
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            if (isLiked) {
                                
                                button.querySelector('i').classList.remove('fas', 'liked-heart');
                                button.querySelector('i').classList.add('far');
                            } else {
                                
                                button.querySelector('i').classList.remove('far');
                                button.querySelector('i').classList.add('fas', 'liked-heart');
                            }
                            button.querySelector('span').textContent = data.likes;
                        } else {
                            console.error(data.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
                }
                document.addEventListener("DOMContentLoaded", function () {
                const scrollPosition = sessionStorage.getItem("scrollPosition");
                if (scrollPosition) {
                    window.scrollTo(0, parseInt(scrollPosition));
                    sessionStorage.removeItem("scrollPosition");
                }
                window.addEventListener("beforeunload", function () {
                    sessionStorage.setItem("scrollPosition", window.scrollY);
                });
            });
            </script>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
