{% extends "layout.html" %}

{% block content %}
    <!-- Toggle between all posts and followed users -->
    <div class="btn-group" role="group" aria-label="Post Filter">
        <a href="{{ url_for('home', filter='followed') }}" 
        class="btn btn-outline-primary {% if filter == 'followed' %}active green-button{% endif %} post-filter-btn" 
        data-filter="followed">
         المتابعين
     </a>
        <a href="{{ url_for('home', filter='all') }}" 
           class="btn btn-outline-primary {% if filter == 'all' %}active green-button{% endif %} post-filter-btn" 
           data-filter="all">
            الجميع
        </a>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const buttons = document.querySelectorAll('.post-filter-btn');
    
            buttons.forEach(button => {
                button.addEventListener('click', function () {
                    buttons.forEach(btn => btn.classList.remove('green-button'));
                    this.classList.add('green-button');
                });
            });
        });
    </script>  
    
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata text-right">
                {% if post.author %}
                    <h5><a href="{{ url_for('user_profile', username=post.author) }}">{{ post.author }}</a></h5>
                {% endif %}
                <small class="text-muted">{{ post.timestamp }}</small>
            </div> 
            <br>
            <a href="{{ url_for('post', post_id=post.post_id) }}" style="text-decoration: none; color: inherit;">
                <div>
                    <h3 class="article-title">{{ post.title }}</h3>
                    <p class="article-content">{{ post.content }}</p>
                    
                    {% if post.media %}
                        {% set file_ext = post.media.split('.')[-1].lower() %}
                        {% if file_ext in ['mp4', 'webm', 'ogg', 'mov'] %}
                            <video class="post-video" controls>
                                <source src="{{ post.media }}" type="video/{{ file_ext }}">
                            </video>
                        {% else %}
                            <img class="post-image" src="{{ post.media }}" alt="الوسائط">
                        {% endif %}
                    {% endif %}
                </div>
            </a>
        </div>
    </article>
    
    {% endfor %}

{% endblock %}