{% extends "layout.html" %}

{% block content %}
<!-- Toggle between all posts and followed users -->
<div class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Post Filter">
        <a href="{{ url_for('home', filter='followed') }}" 
            class="btn btn-outline-primary {% if filter == 'followed' %}active green-button{% endif %} post-filter-btn" 
            data-filter="followed">
            المتابعين
        </a>
        <a href="{{ url_for('home', filter='all') }}" 
            class="btn btn-outline-primary {% if filter == 'all' %}active green-button{% endif %} post-filter-btn" 
            data-filter="all">
            الجميع
        </a>
    </div>
</div>
    
<script>
    let currentVisibleCount = 10;
    const posts = document.querySelectorAll('.media.content-section');
    const showMoreButton = document.getElementById('show-more');
    const totalPosts = {{ total_posts }};
    const currentPostsCount = {{ posts|length }};

    document.addEventListener('DOMContentLoaded', function () {
        const showMoreButton = document.getElementById('show-more');
        const posts = document.querySelectorAll('.media.content-section');

        for (let i = 10; i < posts.length; i++) {
            posts[i].style.display = 'none';
        }

        if (posts.length > 10) {
            showMoreButton.style.display = 'block';
        } else {
            showMoreButton.style.display = 'none';
        }
    });

    function showMore() {
        let currentVisibleCount = 10;
        const posts = document.querySelectorAll('.media.content-section');
        const showMoreButton = document.getElementById('show-more');

        const nextCount = currentVisibleCount + 10;
        for (let i = currentVisibleCount; i < nextCount && i < posts.length; i++) {
            posts[i].style.display = 'block';
        }

        currentVisibleCount = nextCount;

        if (currentVisibleCount >= posts.length) {
            showMoreButton.style.display = 'none';
        }
    }

    const feedUrl = "{{ url_for('home', filter=filter) }}";
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.post-filter-btn');
        let currentFilter = sessionStorage.getItem('filter');

    if (!currentFilter) {
    currentFilter = 'followed';  
    sessionStorage.setItem('filter', currentFilter); }


        buttons.forEach(button => {
            button.addEventListener('click', function () {
                buttons.forEach(btn => btn.classList.remove('green-button'));
                this.classList.add('green-button');
            });
        });
        const scrollPosition = sessionStorage.getItem('scrollPosition');
    if (scrollPosition) {
        window.scrollTo(0, scrollPosition);
        sessionStorage.removeItem('scrollPosition'); 
    }
    buttons.forEach(button => {
    button.addEventListener('click', function() {
        const selectedFilter = this.dataset.filter;
        storeFilter(selectedFilter); });});

        function storeScrollPosition() {
    sessionStorage.setItem('scrollPosition', window.scrollY);
}
function storeFilter(filter) {
sessionStorage.setItem('filter', filter);}
window.location.href = "{{ url_for('home', filter='') }}" + filter;});


window.addEventListener('beforeunload', function () {
    sessionStorage.setItem('scrollPosition', window.scrollY);
});


    function toggleLike(button) {
        const postId = button.getAttribute('data-post-id');
        const isLiked = button.querySelector('i').classList.contains('liked-heart');
        const url = isLiked ? `/unlike_post/${postId}` : `/like_post/${postId}`;
    
        fetch(url, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (isLiked) {
                    
                    button.querySelector('i').classList.remove('fas', 'liked-heart');
                    button.querySelector('i').classList.add('far');
                } else {
                    
                    button.querySelector('i').classList.remove('far');
                    button.querySelector('i').classList.add('fas', 'liked-heart');
                }
                button.querySelector('span').textContent = data.likes;
            } else {
                console.error(data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

{% if posts %}    
    {% for post in posts|sort(attribute='parsed_timestamp', reverse=True) %}
    <article class="media content-section" style="display: {% if loop.index > 10 %}none{% else %}block{% endif %};" class="post">
        <div class="media-body">
            <div class="article-metadata text-right">
                {% if post.author %}
                    <h5><a href="{{ url_for('user_profile', username=post.author) }}">{{ post.author }}</a></h5>
                {% endif %}
                <small class="text-muted">{{ post.timestamp }}</small>
            </div> 
            <br>     
            <a href="{{ url_for('post', post_id=post.post_id) }}" style="text-decoration: none; color: inherit;" onclick="storeScrollPosition()">
                <h3 class="article-title">{{ post.title }}</h3>
                <p class="article-content">
                    {{ post.content[:750] }}{% if post.content|length > 750 %}...{% endif %}
                    {% if post.content|length > 750 %}
                        <a href="{{ url_for('post', post_id=post.post_id) }}" class="read-more-link">اقرأ المزيد</a>
                    {% endif %}
                    {% if post.media %}
                        {% set file_ext = post.media.split('.')[-1].lower() %}
                        {% if file_ext in ['mp4', 'webm', 'ogg', 'mov'] %}
                            <video class="post-video" controls style="float: right; max-width: 200px; margin-left: 15px;">
                                <source src="{{ post.media }}" type="video/{{ file_ext }}">
                            </video>
                        {% else %}
                            <img class="post-image" src="{{ post.media }}" alt="الوسائط">
                        {% endif %}
                    {% endif %}
                </p>
            </a>
            <div class="post-comments">
                <button class="comment-button" onclick="window.location.href='{{ url_for('post', post_id=post.post_id) }}'">
                    <i class="far fa-comment"></i>
                    <span>{{ post.count }}</span>
                </button>
                
                <div style="margin-left: 5px;"></div>
                <button class="like-button" data-post-id="{{ post.post_id }}" onclick="toggleLike(this)" >
                    <i class="far fa-heart 
                        {% if current_user.get_id() in post.liked_by %} 
                            fas liked-heart 
                        {% endif %}"></i> 
                    <span>{{ post.likes }}</span>
                </button>
            </div>
        </div>
    </article>
    {% endfor %}
    <div class="text-center mt-3">
        <button id="show-more" class="btn btn-primary" onclick="showMore()">عرض المزيد</button>
    </div>
{% else %}
    {% if filter == 'followed' %}
    <div class="alert alert-info text-center mt-4">
        لم تقم بمتابعة أي منصة إعلامية بعد! اضغط 
        <a href="{{ url_for('home', filter='all') }}" class="alert-link">هنا</a>
         لمشاهدة جميع المنشورات على شيّــك
    </div>
    {% endif %} 
{% endif %}    
{% endblock %}