{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4">
        <div class="card-header">
            <h4>معلومات المنصة الإعلامية</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">اسم المنصة: {{ user_info }}</h5>
            <br>
            <div class="dropdown float-right">
                <h5 class="card-title d-flex align-items-center dropdown-toggle"
                    id="followersDropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="cursor: pointer; margin: 0;">
                    <i class="fas fa-chevron-down" style="margin-right: 8px;"></i>
                    <span id="follower-count">{{ followers|length }}</span> : قائمة المتابعين
                </h5>
                <div class="dropdown-menu" aria-labelledby="followersDropdown" id="followersDropdownMenu">
                    {% for follower in followers %}
                        <a class="dropdown-item custom-color" 
                           href="{{ url_for('user_profile', username=follower) }}">{{ follower }}</a>
                    {% endfor %}
                </div>
            </div>            
            <br><br>
            {% if followed_news_outlets %}
                <div class="dropdown float-right">
                    <h5 class="card-title d-flex align-items-center dropdown-toggle" 
                        id="followedOutletsDropdown" data-toggle="dropdown" aria-haspopup="true" 
                        aria-expanded="false" style="cursor: pointer; margin: 0;">
                        <i class="fas fa-chevron-down" style="margin-right: 8px;"></i>
                        المنصات المتابَعة: {{ followed_news_outlets|length }}
                    </h5>
                    <div class="dropdown-menu" aria-labelledby="followedOutletsDropdown">
                        {% for outlet in followed_news_outlets %}
                            <a class="dropdown-item custom-color" 
                               href="{{ url_for('user_profile', username=outlet) }}">{{ outlet }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% if user_info == current_user.username %}
            <script>
                function confirmDelete() {
                    return confirm('متأكد من حذف النشرة؟');
                }
            </script>
        {% else %}
            {% if current_user.is_authenticated %}
            <div class="text-right">
                <div id="follow-buttons">
                    {% if is_following %}
                        <button id="unfollow-btn" class="btn btn-danger">إلغاء متابعة</button>
                        <button id="follow-btn" class="btn btn-primary" style="display: none;">متابعة</button>
                    {% else %}
                        <button id="follow-btn" class="btn btn-primary">متابعة</button>
                        <button id="unfollow-btn" class="btn btn-danger" style="display: none;">إلغاء متابعة</button>
                    {% endif %}
                </div>
                    
                <div id="notification-buttons">
                    {% if is_following %}
                        <!-- Show bell notification buttons only if the user is following the news outlet -->
                        {% if is_getting_notifications %}
                            <button id="unnotify-btn" class="btn btn-danger">🔕 إلغاء الإشعارات</button>
                            <button id="notify-btn" class="btn btn-secondary" style="display: none;">🔔 متابعة الإشعارات</button>
                        {% else %}
                            <button id="notify-btn" class="btn btn-secondary">🔔 متابعة الإشعارات</button>
                            <button id="unnotify-btn" class="btn btn-danger" style="display: none;">🔕 إلغاء الإشعارات</button>
                        {% endif %}
                    {% else %}
                        <!-- Hide notification buttons if not following -->
                        <button id="notify-btn" class="btn btn-secondary" style="display: none;">🔔 متابعة الإشعارات</button>
                        <button id="unnotify-btn" class="btn btn-danger" style="display: none;">🔕 إلغاء الإشعارات</button>
                    {% endif %}
                </div>                            
            {% endif %}
        {% endif %}
    </div>

    <div class="card-header">
        <h4>المنشورات</h4>
    </div>
    {% for post in posts %}
        <article class="media content-section" onclick="location.href='{{ url_for('post', post_id=post.post_id) }}';" style="cursor: pointer;">
            <div class="media-body">
                <div class="article-metadata text-right">
                    <h5><a href="{{ url_for('user_profile', username=post.author) }}">{{ post.author }}</a></h5>
                    <small class="text-muted">{{ post.timestamp }}</small>
                </div> 
                <br>
                <h3 class="article-title">{{ post.title }}</h3>
                <p class="article-content">{{ post.content }}</p>
                {% if post.media %}
                    {% set file_ext = post.media.split('.')[-1].lower() %}
                    {% if file_ext in ['mp4', 'webm', 'ogg', 'mov'] %}
                        <video class="post-video" controls>
                            <source src="{{ post.media }}" type="video/{{ file_ext }}">
                        </video>
                    {% else %}
                        <img class="post-image" src="{{ post.media }}" alt="الوسائط">
                    {% endif %}
                {% endif %}

                {% if user_info == current_user.username %}
                    <form action="{{ url_for('delete_post', post_id=post.post_id) }}" method="post">
                        {{ form.hidden_tag() }} <!-- CSRF token -->
                        <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">حذف النشرة</button>
                    </form>
                {% endif %}
                <div class="post-comments">
                    <i class="far fa-comment"></i>
                    <span>{{ post.count }}</span>
                </div>
            </div>
        </article>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        // Follow News Outlet
        $('#follow-btn').click(function(e) {
            e.preventDefault(); 

            $.ajax({
                url: '{{ url_for("follow_newsoutlet", username=user_info) }}',
                type: 'POST',
                data: {
                    useremail: '{{ useremail }}'
                },
                success: function(response) {
                    if (response.success) {
                        $('#follower-count').text(response.follower_count); // Update follower count
                        $('#follow-btn').hide(); // Hide follow button
                        $('#unfollow-btn').show(); // Show unfollow button
                        $('#notify-btn').show(); // Show notification bell when following
                        updateFollowersDropdown(response.followers); // Update dropdown
                    } else {
                        alert(response.message); 
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                    alert('حدث خطأ أثناء متابعة المنصة، يرجى المحاولة مرة أخرى.');
                }
            });
        });

       // Unfollow News Outlet
        $('#unfollow-btn').click(function(e) {
            e.preventDefault(); 

            $.ajax({
                url: '{{ url_for("unfollow_newsoutlet", username=user_info) }}',
                type: 'POST',
                data: {
                    useremail: '{{ useremail }}'
                },
                success: function(response) {
                    if (response.success) {
                        $('#follower-count').text(response.follower_count); // Update follower count
                        $('#follow-btn').show(); 
                        $('#unfollow-btn').hide(); 
                        $('#notify-btn').hide(); 
                        $('#unnotify-btn').hide(); 
                        updateFollowersDropdown(response.followers); // Update dropdown with all followers
                    } else {
                        alert(response.message); // Show error message if unfollow fails
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                    alert('حدث خطأ أثناء إلغاء متابعة المنصة، يرجى المحاولة مرة أخرى.');
                }
            });
        });


        // Update followers dropdown
        function updateFollowersDropdown(followers) {
            const dropdownMenu = $('#followersDropdownMenu');
            dropdownMenu.empty(); // Clear current dropdown items

            if (followers.length === 0) {
                dropdownMenu.append('<a class="dropdown-item">لا متابعين</a>');
            } else {
                followers.forEach(function(follower) {
                    dropdownMenu.append(
                        `<a class="dropdown-item custom-color" href="{{ url_for('user_profile', username='') }}${follower}">${follower}</a>`
                    );
                });
            }
        }

        // Enable Notifications
        $('#notify-btn').click(function(e) {
            e.preventDefault();

            $.ajax({
                url: '{{ url_for("notify_newsoutlet", username=user_info) }}',
                type: 'POST',
                data: {
                    useremail: '{{ useremail }}'
                },
                success: function(response) {
                    if (response.success) {
                        $('#notify-btn').hide(); 
                        $('#unnotify-btn').show(); 
                        alert(response.message); 
                    } else {
                        alert(response.message); 
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        });

        // Disable Notifications
        $('#unnotify-btn').click(function(e) {
            e.preventDefault();

            $.ajax({
                url: '{{ url_for("unnotify_newsoutlet", username=user_info) }}',
                type: 'POST',
                data: {
                    useremail: '{{ useremail }}'
                },
                success: function(response) {
                    if (response.success) {
                        $('#unnotify-btn').hide(); 
                        $('#notify-btn').show(); 
                        alert(response.message); 
                    } else {
                        alert(response.message); 
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX error:', status, error);
                }
            });
        });

    });
</script>



{% endblock %}