{% extends "layout.html" %}
{% block content %}
<button onclick="goBack()" class="btn form-buttons">&#8592; عودة </button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<br>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata text-right">
                <h5><a href="{{ url_for('user_profile', username=post.author) }}">{{ post.author }}</a></h5>
                <small class="text-muted">{{ post.timestamp }}</small>
            </div> 

            <h3 class="article-title">{{ post.title }}</h3>
            <p class="article-content">{{ post.content }}
                {% if post.media %}
                    {% set file_ext = post.media.split('.')[-1].lower() %}
                    {% if file_ext in ['mp4', 'webm', 'ogg', 'mov'] %}
                        <video class="post-video" controls>
                            <source src="{{ post.media }}" type="video/{{ file_ext }}">
                        </video>
                    {% else %}
                        <img class="post-image" src="{{ post.media }}" alt="الوسائط">
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </article>
{% endblock %}