{% extends "layout.html" %}
{% block content %}
<button onclick="goBack()" class="back-button">&#8592; للعودة </button>
<style>.back-button {
    background: #4F792A;
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}</style>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<br>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_profile', username=post.author) }}">{{ post.author }}</a>
                <small class="text-muted">{{ post.timestamp }}</small>
            </div>
     
        
            <h3>{{ post.title }}</h3>
            <p class="article-content">{{ post.content }}
                {% if post.media %}
                    {% set file_ext = post.media.split('.')[-1].lower() %}
                    {% if file_ext in ['mp4', 'webm', 'ogg', 'mov'] %}
                        <video class="post-video" controls>
                            {% if file_ext == 'mp4' %}
                                <source src="{{ post.media }}" type="video/mp4">
                            {% elif file_ext == 'webm' %}
                                <source src="{{ post.media }}" type="video/webm">
                            {% elif file_ext == 'ogg' %}
                                <source src="{{ post.media }}" type="video/ogg">
                            {% elif file_ext == 'mov' %}
                                <source src="{{ post.media }}" type="video/quicktime">
                            {% endif %}
                        </video>
                    {% else %}
                        <img class="post-image" src="{{ post.media }}" alt="الوسائط">
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </article>
{% endblock %}