{% extends "layout.html" %}
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
{% block content %}
<div class="content-section text-right">
  <!-- Flash message container -->
  <div id="flash-message" class="alert alert-success text-center d-none"></div>

  <form id="reset-password-form" class="user-forms">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">إعادة تعيين كلمة المرور</legend>
      <div class="form-group">
        <label for="email" class="form-control-label">البريد الإلكتروني</label>
        <input type="email" id="email" class="form-control form-control-lg text-right" required>
        <div id="email-error" class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn form-buttons">إرسال</button>
      </div>
      
      <p>تذكرت كلمة المرور؟ <a class="nav-item nav-link" href="{{ url_for('member_login') }}">تسجيل الدخول</a></p>
    </fieldset>
  </form>
</div>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-app.js";
    import { getAuth, sendPasswordResetEmail } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-auth.js";
    
    const firebaseConfig = {
      apiKey: "AIzaSyAXgzwyWNcfI-QSO_IbBVx9luHc9zOUzeY",
      authDomain: "shayek-560ec.firebaseapp.com",
      databaseURL: "https://shayek-560ec-default-rtdb.firebaseio.com",
      projectId: "shayek-560ec",
      storageBucket: "shayek-560ec.appspot.com",
      messagingSenderId: "377837381829",
      appId: "1:377837381829:web:d6594a9e9f6af83c1468ac",
      measurementId: "G-PKCVFN45WE"
    };
    
    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);

    document.getElementById('reset-password-form').addEventListener('submit', function(event) {
      event.preventDefault();

      const email = document.getElementById('email').value;
      const flashMessage = document.getElementById('flash-message');
      const errorDiv = document.getElementById('email-error');

      if (!email) {
        errorDiv.textContent = 'يرجى إدخال عنوان بريد إلكتروني.';
        return;
      }

      sendPasswordResetEmail(auth, email)
        .then(() => {
          flashMessage.innerHTML = '<i class="fas fa-check-circle me-3" style="color: green;"></i> تم إرسال رسالة إعادة تعيين كلمة المرور إلى بريدك الإلكتروني.';
          flashMessage.className = 'alert alert-success text-center';
          flashMessage.classList.remove('d-none');
        })
        .catch((error) => {
          flashMessage.innerHTML = `<i class="fas fa-exclamation-circle me-3" style="color: red;"></i> حدث خطأ: ${error.message}`;
          flashMessage.className = 'alert alert-danger text-center';
          flashMessage.classList.remove('d-none');
        });
    });
</script>
{% endblock %}