{% extends "layout.html" %}
{% block content %}
<div class="container-fluid my-3">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">قريبـــــــــاً </h2>
          <hr>
            <img src="/static/Images/model soon2.png" alt="Banner Image" style="max-width: 100%; height: auto;">
            <hr>
            <p class="card-text">
              
              
                  أحدث تقنيات الذكاء الاصطناعي للتحقق من الفيديوهات المعرضة  <br>
               للفبركة والتعديل نقدمها لكم قريباً      .
              
              </p>              
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
