{% extends "layout.html" %}
{% block content %}
<div class="container-fluid my-3">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">قريباً </h2>
            <hr>
            <p class="card-text">
              
              <br><br>
                  أحدث تقنية الذكاء الاصطناعي للتحقق من الفيديوهات المعرضة  <br>
               للفبركة والتعديل نقدمها لكم قريباً      .
              
              </p>              
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
