{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="account-info">
                <h4>Account:</h4>
                <p>Username: {{ user_info.get('username') }}</p>
                <p>Email: {{ user_info.get('email') }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="posts-section">
                {% for post in posts %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted }}</small>
                        </div> 
                        <br>
                        <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
                        <p class="article-content">{{ post.content }} <a href="#">لقراءة المزيد</a></p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
