@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

:root { 
  --dark-green: #4F792A; 
  --light-green: #7DBB46; 
} 

body {
  font-family: 'Droid Arabic Kufi', serif;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  padding-top: 70px;
}

.logo {
  margin:auto 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  text-align: right;
}

p {
  text-align: right;
  direction: rtl;
}

.bg-steel {
  background-color: white;
}

.site-header .navbar-nav .nav-link, a {
  color: var(--dark-green);
}

.nav-item.nav-link {
  display: inline-block; 
  min-width: 100px; 
}
  .site-header .navbar-nav .nav-link:hover, a:hover {
    color: var(--light-green);
  }
  
.content-section {
  background: white;
  padding: 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color:  var(--dark-green);
  margin: 4px;
}

a.article-title:hover {
  color: var(--light-green);
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  margin: 5px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}


.account-info {
  float: left;
  margin-left: 20px;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-heading {
  font-size: 2.5rem;
}

.admin-form {
  display: flex;
  justify-content: flex-end;
}

.admin-verify, .btn {
  margin: 5px;
  padding: 2px 10px;
  color: #333333;
  border-radius: 8px;
  background-color: white;
  border: 2px solid var(--dark-green);
}

.admin-verify:hover, .btn:hover {
  border: 2px solid var(--light-green);
  background-color: var(--light-green);
  text-decoration: none;
  color: white;
}


.flash-message {
  background-color: #ffffcc; 
  border: 1px solid #cccccc; 
  padding: 10px; 
  margin-bottom: 20px; 
}

.icon {
    font-size: 20px; 
    color: red; 
    margin-right: 5px; 
}

@media (max-width: 768px) {
  .post-video, .post-image {
      max-width: 100%;
  }
}

.post-video {
  width: 100%;
  max-width: 640px;
  height: auto;
  margin-top: 10px;
}

.post-image {
  width: 100%;
  max-width: 640px;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.containerModel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--dark-green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#result {
  font-weight: bold;
  font-style: italic;
  color: var(--dark-green);
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

#contact {
  color: var(--dark-green);
}

.green-button {
  background-color: var(--dark-green) !important;
  color: white !important;
  border-color: var(--dark-green) !important;
}

.btn-outline-primary.active {
  background-color: var(--dark-green) !important;
  color: white !important;
  border-color: var(--dark-green) !important;
}

.dropdown-toggle::after {
  display: none;
}

.notification-count {
  position: absolute;
  top: 20px;   
  right: 30px;
  transform: translate(50%, -50%);
  background-color: red;
  color: white; 
  padding: 3px 6px; 
  border-radius: 50%; 
  font-size: 12px;
  min-width: 16px; 
  text-align: center; 
  line-height: 1; 
}

.fa-bell {
  position: relative;
  font-size: 18px; 
}

.switch-button {
  background-color: white;
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.switch-button.active {
  background-color: var(--dark-green);
  color: white;
}

.switch-button:hover {
  background-color: var(--light-green);
  color: white;
  border-color: var(--light-green);
}

.white-button {
  background-color: white;
  color: var(--dark-green);
  border-color: var(--dark-green);
}

.green-button {
  background-color: var(--dark-green) !important;
  color: white !important;
  border-color: var(--dark-green) !important;
}

.dropdown-toggle i {
  transition: transform 0.2s;
  color: var(--dark-green);
}

.dropdown.show .dropdown-toggle i {
  transform: rotate(180deg);
  color: var(--light-green);
}

.custom-color {
  color: var(--dark-green);
}


.comment, .reply {
  margin-right: 20px;
  }
  .login-prompt {
      background-color: #f8f9fa;
      padding: 10px;
      margin-top: 20px;
      border: 1px solid #e9ecef;
      border-radius: 10px;
      font-size: 14px;
  }
  .login-prompt a {
      color: #007bff;
      text-decoration: none;
  }
  .login-prompt a:hover {
      text-decoration: underline;
  }
  form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
  }
  textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 14px;
      resize: vertical;
  }
  button {
      padding: 10px 15px;
      background-color: #4F792A;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      align-self: flex-start;
  }
  button:hover {
      background-color: #3f5e22;
  }
 
  .reply {
      margin-left: 40px;
  }
  .comment-section {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .comment-list, .reply-list {
  list-style: none;
  padding: 0;
  }

  .comment-header {
  display: flex;
  align-items: center;
  }
  .comment-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px
  }
  .comment-section {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .comment-header, .reply-header {
      justify-content: space-between;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
  }
  .comment p, .reply p {
  margin-top: 5px;
  font-size: 16px;
  }
  .comment, .reply {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f8f9fa;
  }

  .reply-button:hover {
  background-color: #3f5e22;
  }

  .reply-form {
      margin-top: 10px; 
  }
  .delete-button {
  background-color:#4F792A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  }
  .delete-button:hover {
  background-color: #3f5e22;
  }
  
.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;  
}

.like-button:hover {
  background-color: transparent; 
}
  
.fas {
color: red ; 
}

.like-button span {
  margin-left: 6px; 
}

.post-comments {
  display: flex;
  align-items: center; 
  gap: 5px; 
}

.post-comments span {
  margin-right: 10px; 
}

.unread-notification {
  background-color: #ffffcc;
}


.notification-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  position: relative;
}

.notification-item .btn-danger {
  align-self: flex-start; 
  margin-top: 10px;
}

.list-group-item {
  position: relative;
}

.custom-notification-menu {
  max-height: 350px;
  overflow-y: auto;
  width: 300px;
  transform: translateX(-130px);
}