@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

:root { 
  --dark-green: #4F792A; 
  --light-green: #7DBB46; 
} 

body {
    font-family: 'Droid Arabic Kufi', serif;
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    padding-top: 70px;
  }

  .logo {
    margin:auto 10px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
    text-align: right;
  }

  p {
    text-align: right;
    direction: rtl;
  }
  
  .bg-steel {
    background-color: white;
  }

  .site-header .navbar-nav .nav-link, a {
    color: var(--dark-green);
  }

  .nav-item.nav-link {
    display: inline-block; 
    min-width: 100px; 
}
  .site-header .navbar-nav .nav-link:hover, a:hover {
    color: var(--light-green);
  }
  
  .content-section {
    background: white;
    padding: 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
    margin: 4px;
  }
  
  a.article-title:hover {
    color: var(--light-green);
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
    margin: 5px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: var(--light-green);
    text-decoration: none;
  }

  .account-info {
    float: left;
    margin-left: 20px;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .admin-form {
    display: flex;
    justify-content: flex-end;
  }

  .admin-verify, .btn {
    margin: 5px;
    padding: 2px 10px;
    color: #333333;
    border-radius: 8px;
    background-color: white;
    border: 2px solid var(--dark-green);
  }
  
  .admin-verify:hover, .btn:hover {
    border: 2px solid var(--light-green);
    background-color: var(--light-green);
    text-decoration: none;
    color: white;
  }